
.navbar {
    font-size: 25px;
    color: darkslategray;
    position: fixed;
    top: 0;
    background-color:red;
    height: 30px;
    width: 1920px;
} 
#Gallery {background-color:darkgrey;
              font-size:20px;
}
#Articles {
    background-color: white;
    font-size: 20px;
}
#SocialMedia {
    background-color: dimgrey;
    font-size: 20px;
}
  .Insta:hover { background-color: lightgrey;
                 width: 150px;
  }
.Steam:hover {
    background-color: lightgrey;
    width: 150px;
}
.Github:hover {
    background-color: lightgrey;
    width: 150px;
}
.Mail:hover {
    background-color: lightgrey;
    width: 150px;
}
.Home:hover {
    background-color: lightgrey;
    width: 150px;
}
.Articles:hover {
    background-color: lightgrey;
    width: 150px;
}
.Gallery:hover {
    background-color: lightgrey;
    width: 150px;
}
.SocialMedia:hover {
    background-color: lightgrey;
    width: 150px;
}
h1 {text-align: center; 

}
h4 {
    font-size: 10px;
    font-style: italic;
    color: darkslategrey
}
a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}
