
.navbar {
    font-size: 25px;
    color: gold;
    position: fixed;
    top: 0;
    background-color:red;
}
.navbar-sticky {
    font-size: 15px;
    color:black;
    position: fixed;
    top: 0;
    background-color:gold;
   
} 
#Gallery {background-color:darkgrey}
#Articles {background-color: white}
#SocialMedia{ background-color: dimgrey}

h1 {text-align: center; 

}
h4 {
    font-size: 15px;
    font-style: italic;
    color: darkslategrey
}
a {
    font-size: 11px;
    color: black;
    text-decoration: none;
}

